:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
#root {
  width: 480px;
  max-width: 100%;
  min-height: 100vh;
  background-color: azure;
}